{% extends 'reception/base.html' %}

{% block content %}
<h2>لوحة التحكم</h2>

<div class="dashboard-cards">
    <div class="card">
        <h3> التقييم الطبي</h3>
        <p>{{ under_review_count }}</p>
        <a class="btn" href="{% url 'reception:medical_queue' %}">عرض الملفات</a>
    </div>

    <div class="card">
        <h3> التحقق</h3>
        <p>{{ ready_for_activation_count }}</p>
        <a class="btn" href="{% url 'reception:activation_list' %}">عرض التفعيل</a>
    </div>

    <div class="card">
        <h3>المقبولون</h3>
        <p>{{ accepted_count }}</p>
        <a class="btn" href="{% url 'reception:accepted_list' %}">عرض المقبولين</a>
    </div>
</div>
{% endblock %}